@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-gradient {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600;
    }
}

html {
    background-color: #F6F6F6;
    font-size: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
}