@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 2em;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
    width: 100%;
}