@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #F6F6F6;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 2em;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
    width: 100%;
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
}