article {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}

h2 {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h4 {
    font-size: 1.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

p {
    font-size: medium;
    color: #333;
}

hr {
    border-bottom: 1rem;
}

pre {
    --background-opacity: 0.05;
    background-color: rgb(192 132 252 / var(--background-opacity)) !important;
    font-size: medium;
    padding: 2rem;
    padding-left: 4rem;
    color: #f8f8f2;
    overflow-wrap: break-all;
    line-height: 1.5rem;
    margin: 1rem;
    margin-left: 4rem;
    border-radius: 2rem;
    border: 2px solid rgb(207, 178, 236);
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

span {
    color: #222 !important;
    overflow-wrap: break-word;
  }