---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import PostCard from "@components/PostCard.astro";
import TagsList from "@components/TagsList.astro";
import HomeButton from "@components/HomeButton.astro";

export async function getStaticPaths() {
  let uniqueCategories: Set<string> = new Set();
  const posts = await getCollection("posts");
  posts.map((post) => {
    if (post.data.categories) {
      post.data.categories.forEach((category) => {
        uniqueCategories.add(category);
      });
    }
  });
  const uniqueCategoriesList = Array.from(uniqueCategories);
  return uniqueCategoriesList.map((category) => ({
    params: {
      category,
    },
    props: {
      uniqueCategoriesList,
      category,
      posts,
    },
  }));
}
const { uniqueCategoriesList, posts } = Astro.props;
const filteredPosts = posts
  .filter((post: CollectionEntry<"posts">) =>
    post.data.categories.includes(Astro.props.category)
  )
  .sort(
    (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
      Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate)
  );
const displayedCategory = Astro.props.category.toString().replaceAll("-", " ");
---

<Layout title={"Category: " + displayedCategory}>
  <div class="lg:3/4 m-auto w-11/12 xl:w-2/3 2xl:w-1/2">
    <HomeButton to={"/"} />
    <h1 class="text-gradient py-4 text-center text-xl lg:text-5xl">
      Category: {displayedCategory}
    </h1>
    <div class="hidden p-4 lg:block">
      <TagsList categories={uniqueCategoriesList} />
    </div>
    <div>
      {filteredPosts.map((post: any) => <PostCard post={post} />)}
    </div>
  </div>
</Layout>
