---
import Layout from '@layouts/Layout.astro';
import PostNav from '@components/PostNav.astro';

export async function getStaticPaths() {
    const posts = await Astro.glob('./posts/*.mdx');
    return posts.map(post => ({
        params: {
            slug: post.frontmatter.slug
        },
        props: {
            post
        }
    }));
}
import '../styles/post.css';
const { Content, frontmatter } = Astro.props.post;
/* get array of headings for building the article nav component */
const headings = await Astro.props.post.getHeadings();
/* Convert date in post frontmatter to date object render as a readable string */
const readableDate = new Date(frontmatter.publishDate).toLocaleString().split(",").slice(0,1);
---

<Layout title={ frontmatter.title }>
    <div class="flex flex-row mr-48">
        <div class="w-1/3 shadow-lg bg-purple-50 bg-opacity-30 rounded-2xl">
            <PostNav headings={ headings } />
        </div>
        <article class="pt-8 pl-24 w-full">
            <div>
                <h1 class="text-8xl text-left">{ frontmatter.emoji }</h1>
                <h1 class="text-6xl text-left py-4 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">{ frontmatter.title }</h1>
                <i class="text-gray-700">Published: { readableDate }</i>
                <div>
                    <div class="flex">
                        { frontmatter.tags.map((tag: string) => 
                            <a href={`/tags/${ tag }`} class="flex flex-col py-2 px-4 my-4 mr-2
                                rounded-xl font-semibold border-purple-400 border-2 text-purple-400 hover:text-white hover:bg-purple-400
                                hover:transition-all ease-in-out">{ tag }</a>
                        )}
                    </div>
                </div>
            </div>
            <hr class="mr-96 border-2 border-purple-400 drop-shadow-lg" />
            <div class="py-12">
                <Content />
            </div>
        </article>
    </div>
</Layout>