---
export interface frontmatter {
	title: string
	slug: string
	publishDate: string
	excerpt: string
	categories: Array<string>
}

import Layout from '@layouts/Layout.astro';
import PostCard from '@components/PostCard.astro'
const posts = await Astro.glob<frontmatter>('./posts/*.mdx');
posts.sort((a, b) => Date.parse(b.frontmatter.publishDate) - Date.parse(a.frontmatter.publishDate));
const recentPosts = posts.slice(0, 3);
import '../styles/global.css';
---

<Layout title="Jaalma's Blog">
	<main class="text-center pt-4 px-32 h-fit">
		{/* Header */}
		<h1 class="text-8xl m-4">Welcome to 
			<span class="font-medium text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">
				Jaalma's Blog.</span> 🧑‍💻</h1>
		{/* About Section */}
		<div class="m-8 text-xl text-gray-600">
			<p>Digital forensics, malware analysis and all things blue team!</p>
		</div>
		{/* Recent Posts Section */}
		<div>
			<h2 class="bg-clip-text text-4xl">Recent Posts</h2>
			<div class="flex flex-row w-full min-h-fit">
				{recentPosts.slice(0,2).map(post =>
					<PostCard post={ post } />
				)}
			</div>
			<PostCard post={ recentPosts[2] } />
		</div>
		{/* All posts button */}
		<div class="m-12">
			<a href={`/posts`} class="px-64 py-6 rounded-xl shadow-md
				border-2 border-gray-200 text-gray-600
				hover:bg-gradient-to-r hover:from-purple-400 hover:to-pink-600 hover:text-white hover:shadow-none hover:border-0 transition-all ease-in-out
				font-medium">See All Posts</a>
		</div>
	</main>
</Layout>