---
interface Props {
  text: string;
}
const { text } = Astro.props;
---

<a href={`/categories/${text}`}>
  <div
    class="m-2 max-w-fit whitespace-nowrap rounded-xl border-2 border-purple-400 py-2 px-4 font-medium text-purple-400 shadow-lg ease-in-out hover:bg-purple-400 hover:text-white hover:shadow-none hover:transition-all"
  >
    {text.replaceAll("-", " ")}
  </div>
</a>
