---
interface Props {
  categories: string[];
}

import Tag from "@components/Tag.astro";
const { categories } = Astro.props;
---

<div class="h-full flex-wrap-reverse lg:flex lg:flex-row lg:justify-end">
  <p class="lg:pt-4">Categories:</p>
  {categories.map((category: string) => <Tag text={category} />)}
</div>
