---
interface Props {
    categories: string[]
}

import Tag from "@components/Tag.astro";
const { categories } = Astro.props;
---

<div class="lg:flex flex-row flex-wrap-reverse justify-end h-full">
    {categories.map((category: string) =>
        <Tag text={ category } />
    )}
</div>